
@import "node_modules/compass-sass-mixins/lib/compass";

$blue: #0069ff;
$darkGray: rgb(3, 27, 78);
$darkGrayAlpha: 1;
$lightGray: #f1f1f1;

.pretty-input-text {
    border: solid 1px $lightGray;
    border-color: $lightGray;
    border-radius: 5px;
    color: $darkGray;
    color: rgba($darkGray, $darkGrayAlpha);
    font-size: 16px;
    height: 48px;
    opacity: $darkGrayAlpha;
    width: 100%;

    .inside-container {
        border-radius: inherit;
        height: 100%;
        position: relative;
        @include transition(all 0.30s ease-in-out);
        width: 100%;
    }

    .is-active {
        @include box-shadow(0 0 1px 1px $blue);
    }

    input[type="text"], textarea {
        @include appearance(none);
        background: transparent;
        border: none;
        border-radius: inherit;
        @include box-shadow(none);
        color: inherit;
        font-size: inherit;
        height: 100%;
        margin: 0;
        opacity: inherit;
        outline: none;
        overflow: hidden;
        padding: 0 10%;
        position: absolute;
        @include transition(all 0.30s ease-in-out);
        width: 80%;
        z-index: 3;
    }

    .show-label input[type="text"] {
        @include transform(translateY(15%));
    }

    label {
        color: transparent;
        font-size: 11px;
        font-weight: 400;
        left: 10%;
        pointer-events: none;
        position: absolute;
        top: 25%;
        @include transition(all 0.30s ease-in-out);
        z-index: 2;
    }

    label.error-label {
        display: none;
    }

    .show-label.is-active label.success-label {
        color: $blue;
    }

    .show-label label {
        @include transform(translateY(-50%));
        z-index: 5;
    }

    .show-label label.success-label {
        color: $darkGray;
    }

    .show-label label.error-label {
        color: #f00;
    }
}

.pretty-input-text.error .inside-container {
    @include box-shadow(0 0 1px 1px #f00);
}

.pretty-input-text.error .show-label label.success-label {
    display: none;
}

:not(.pretty-input-text.error) .show-label label.success-label {
    display: block;
}

.pretty-input-text .show-label label.error-label {
    display: none;
}

.pretty-input-text.error .show-label label.error-label {
    display: block;
}
